@import "common.css";

:root {
    --favourites-height: 245px;
    --favourites-width: 392px;
}

.content-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
            var(--header-height)
            var(--menu-height)
            var(--favourites-height)
            1fr
            var(--footer-height);

    grid-template-areas:
            "gd-header"
            "gd-menu"
            "gd-favourites"
            "gd-entries"
            "gd-footer";
}


#favourites {
    grid-area: gd-favourites;
    display: flex;
    justify-content: space-around;
}

.card {
    position: relative;
}

.index__favourite__text {
    font-size: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1rem;
    background: white;
    opacity: 85%;
}

#entrylist {
    grid-area: gd-entries;
    display: flex;
    flex-direction: column;
}

.entry {
    padding: 2em;
}

.card-preview {
    width: var(--favourites-width);
    height: var(--favourites-height);
}