body {
    --favourites-height: 150px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 5em 50px var(--favourites-height) 1fr 2em;
    grid-template-areas:
            "gd-header"
            "gd-menu"
            "gd-favourites"
            "gd-entries"
            "gd-footer";
}


#favourites {
    grid-area: gd-favourites;
    display: flex;
}

#entrylist {
    grid-area: gd-entries;
}

.card-preview {
    width: 250px;
    height: var(--favourites-height);
}