:root {
    --header-height: 5em;
    --menu-height: 55px;
    --footer-height: 2em;
}

.content-box {
    width: 80vw;
    margin: 0 auto;
    padding: 2em;
}

header {
    grid-area: gd-header;
    order: 1;
}

footer {
    grid-area: gd-footer;
    order: 5;
}

.menu-bar {
    grid-area: gd-menu;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 2em;
    alignment: center;
    order: 2;
}

.sidebar__author--liststyle {
    list-style-type: none;
    padding: 0;
}

figure {
    margin: 0;
}

@media (min-width: 1001px) and (max-width: 1500px) {
    #card__prio3 {
        display: none;
    }
}

@media (max-width: 1000px) {
    #card__prio3 {
        display: none;
    }

    body {
        background: none;
        margin: 0;
    }

    .content-box {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .menu-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 820px) {
    #card__prio2 {
        display: none;
    }
}

@media (max-width: 600px) {
    .menu-bar {
        flex-direction: column;
        align-items: start;
    }
}