:root {
    --header-height: 5em;
    --menu-height: 55px;
    --footer-height: 2em;
}

.content-box {
    background: cornsilk;
    width: 80vw;
    margin: 0 auto;
}

body {

}

header {
    grid-area: gd-header;
}

footer {
    grid-area: gd-footer;
}

a.button {
    text-decoration: none;
    color: initial;
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.menu-bar {
    grid-area: gd-menu;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 2em;
    alignment: center;
}

.menu-bar > nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: space-between;
}

.search-box {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    alignment: center;
}

.search-box > input {
    height: 2em;
    width: 7em;
}

.search-box > label {
    display: none;
}