div {
    border-style: dotted;
    border-color: green;
}

.content-box {
    background: cornsilk;
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: gd-header;
}

.footer {
    grid-area: gd-footer;
}

.menu {
    grid-area: gd-menu
}
