.menu-bar > nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: space-between;
}

a.button {
    text-decoration: none;
    color: initial;
    padding: 0.5em 1em;
    border: 1px solid black;
    text-align: center;
}

a.button:hover {
    border: 1px solid gray;
    color: gray;
}

.search-box {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    alignment: center;
}

.search-box > input {
    height: 2em;
    width: 7em;
}

.search-box > label {
    display: none;
}